# =========================
# Node / React / TypeScript
# =========================
node_modules/
dist/
build/
.next/
out/

npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

.env
.env.*

.cache/
.parcel-cache/
.eslintcache
*.tsbuildinfo

coverage/

# =========================
# Java / Spring Boot
# =========================
target/
.mvn/wrapper/maven-wrapper.jar
HELP.md

# logs
*.log

# =========================
# IDE
# =========================
.vs/
.idea/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker
# =========================
docker-compose.override.yml